<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497440489822-kdkh7mi5c292tt9rc774j8lunmgn9083.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497440489822-kdkh7mi5c292tt9rc774j8lunmgn9083</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497440489822-57rvkjq8734j3g76pud3gbsulml1u279.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbXmDTIHgrSb421acbBCClOKGIZiSO4Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>497440489822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryHannah</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-hannah</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-hannah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497440489822:ios:6c9004d5ec5debb5ee4fcf</string>
</dict>
</plist>